@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
  background-color: #FFD335;
  background-repeat: no-repeat;
  list-style-type: none;
}
header {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  color: rgb(180, 3, 3);
  padding: 20px;
  text-align: center;
  background-image: url(midia/espuma.png);
  width: auto;
  height: 200px;
  min-width: 11em;
}
main {
  display: block;
  margin: auto;
  max-width: 18em;
  width: 18em;
}
main > p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font: bold;
  font-size: 20px;
  text-align: center;
  max-width: 14em;
}
h3 {
  display: inline;
  font-style: italic;
  font-size: 12px;
}
input {
  border-radius: 15px;
  text-align: center;
  width: 4.5em;
}
div {
  display: inline-block;
  margin: -1px;
}
img {
  margin-right: -5px;
}
#botao {
  display: inline-block;
  margin: auto;
  font-size: 15px;
  font-weight: bolder;
  margin-top: 30px;
  margin-left: 30px;
  width: 7em;
  height: 30px;
}
#botao:hover {
  background-color: rgb(199, 199, 199);
  color: black;
}
#mloutros {
  display: block;
  margin-left: 18px;
}
#litrao {
  margin-right: 8px;
}
#garrafa {
  margin-right: 3px;
}
#latao, #latinha {
  margin-right: 13px;
}
div#resp {
  display: block;
  color: black;
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
}